<style>
  * {
    color: white;
  }
  .div1 {
    background-color: black;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div2 {
    max-width: var(--content-max-width);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .left-side-options {
    column-gap: 2rem;
  }
  .right-side {
    justify-content: right;
    column-gap: 1rem;
  }
</style>
<div class="div1">
  <div class="div2">
    <div class="flex">
      <a [routerLink]="''"><h1>MeuBlog</h1></a>
      <div class="flex" style="justify-content: center; width: 100%">
        <div class="flex left-side-options">
          <a href="#"> opção 1 </a>
          <a href="#"> opção 2 </a>
          <a href="#"> opção 3 </a>
        </div>
      </div>
    </div>
    <div class="flex right-side">
      <a href="#">dark mode</a>
      <a href="#">cart</a>
      <a href="#">search</a>
    </div>
  </div>
</div>
