<style>
  .background {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
      url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.bekiaviajes.com%2Farticulos%2Fportada%2F76000%2F76146-h.jpg&f=1&nofb=1&ipt=dbbb9da2edc78b651c7a0e6f3d25e7f5055f4e511b741e9f23868c98e9cd6c82&ipo=images);
    width: 100%;
    height: 100%;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .content {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 10px;
  }
  h1 {
    font-size: 18pt;
  }
  p {
    font-size: small;
  }
</style>
<div class="background">
  <div class="content">
    <h1 class="post-title">Lorem ipsum dolor sit, amet consectetur adipisicing</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, blanditiis!
      Eum perspiciatis possimus quis alias
    </p>
    <app-post-stats></app-post-stats>
  </div>
</div>
